.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    z-index: 0;
    position: relative;
    top: -50px;
    background-color: aliceblue;
    width: 600px;
    height: 350px;
    padding: 80px 50px;
    border-radius: 15px;
    box-shadow: 0px 40px 80px rgba(17, 87, 156, 0.6);
}

.form-input-container{
    width: 100%;
}

.form-element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.form-element-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form-input{
    border: 0.4px solid #c2c2c2;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
    font-size: 1.2rem;
    font-weight: 100;
    color: #304d5a;
}

.form-input:focus{
    outline: 0;
    border: 1px solid rgb(132, 169, 236);
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgb(132, 169, 236);
}

.form-input.exp{
    width: 170px;
}

.form-input.cvv{
    width: 160px;
}

select{
    margin-right: 25px;
}

.payment-button{
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    background-color: dodgerblue;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    transition: all 0.5s ease;
}

.payment-button:focus{
    box-shadow: 0px 5px 25px rgba(17, 87, 156, 0.4);
}

