.card{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 20px 50px rgba(78, 120, 172, 0.8);
    z-index: 2;
}

.card-front{
    height: 100%;
    width: 100%;
    z-index: 2;
}

.card-background{
    height: 100%;
    width: 100%;
}

.card-background-image{
    filter:brightness(70%);
    height: 150%;
    width: 100%;
}

.card-type{
    position: relative;
    top: -260px;
    left: 280px;
    height: 3rem;
    width: 180px;
    z-index: 2;
}

.card-type-image{
    height: 100%;
    width: 100%;
    z-index: 2;
}

.card-chip{
    position: relative;
    height: 50px;
    width: 55px;
    top: -310px;
    left: 50px;
    z-index: 2;
}

.card-chip-image{
    height: 100%;
    width: 100%;
    z-index: 2;
}

.card-number{
    position: relative;
    letter-spacing: 2px;
    top: -230px;
    left: 50px;
    color: #ffff;
    font-size: 2rem;
    font-weight:lighter;
    z-index: 2;
}

#number-gap{
    display: inline;
    letter-spacing: 30px;
}

.card-owner{
    position: relative;
    top: -215px;
    left: 50px;
    color: #ffff;
    z-index: 2;
}

#owner{
    font-size: 1rem;
    opacity: 0.6;
}

#owner-name{
    position: relative;
    top: 25px;
    right: 80px;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-exp{
    position: relative;
    top: -245px;
    left: 380px;
    color: #ffff;
    z-index: 2;
}

#exp{
    font-size: 1rem;
    opacity: 0.6;
}

#exp-date{
    position: relative;
    top: 25px;
    right: 50px;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-back{
    position: relative;
    height: 100%;
    width: 100%;
    top: -100%;
    z-index: 0;
}